body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}
iframe {
    width: 100%;
    height: 100vh; /* 100% chiều cao của màn hình */
    border: none;  /* Bỏ đường viền của iframe */
}